section.form {
  margin: 0 auto;
  margin-top: 50px;
  width: 500px;
  text-align: center;
  background-color: #001e36;
  color: #31a8ff;
  border-radius: 5px;
  padding-bottom: 10px;
}

section.form h1 {
  font-size: 50px;
}

form {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

label form input {
  margin: 5px 15px;
}

form label {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  grid-column: 2 / 4;
}

form input {
  grid-column: 4 / 7;
}

form button {
  margin-top: 15px;
  padding: 7px 13px;
  background-color: #001e36;
  color: #31a8ff;
  border: none;
  grid-column: 3 / 6;
}

form button:hover {
  color: #001e36;
  background-color: #31a8ff;
  border-radius: 5px;
  transition: 0.5s;
}

form input {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 0.5em;
  height: 2em;
  border: none;
}
